<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current DPAC Events</title>
</head>
<body>
    <div class="container" style="width: 90%; display: flex; flex-direction: column; gap: 40px;">
        {% for event in events %}
        <div class="event">
            <img src="{{event['image_url']}}" alt="" style="width:100px">
            <h2>{{event['title']}}</h2>
            <p>{{event['date']}} - {{event['time']}}</p>
            <p>{{event['location']}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>